<li>
    
    {{#if eat}}
        <button class="pickupBurger btn btn-primary" data-id="{{id}}" data-newEaten="{{eat}}">
            Pickup 
        </button>

        {{else}}
            <button class="deleteBurger btn btn-danger" data-id="{{id}}" data-newEaten="{{eat}}">
                Delete 
            </button>
            <button class="reorderBurger btn btn-success" data-id="{{id}}" data-newEaten="{{eat}}">
                Reorder 
            </button>

    {{/if}}

    <b>{{name}}</b>
    
</li>

